:root {
    --background-black: #222328;
    --foreground-black: #1b1c20;
    --foreground-gray: #595963;
    --highlight-red: #d91e27;
    --highlight-white: #ffffff;
    --highlight-text: #ffffff;
    --secondary-text: #2d2d35;
}