.logo {
    display: flex;
    justify-content: center;
    flex: 1;
}

.logo__img {
    width: 22px;
    height: 40px;
    background: url("./../../img/logoN.png") no-repeat;
    background-size: contain;
}