.notification {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    width: 50px;
}

.notification__notification-btn:active .notification__icon,
.notification__notification-btn:hover .notification__icon {
    stroke: var(--highlight-white);
}

.notification__icon  {
    width: 18px;
    height: 18px;
    stroke: var(--foreground-gray);
    transition: stroke .2s ease-in-out;
    cursor: pointer;
}