.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-black);
    z-index: 3;
    transform: translateX(-100%);
}

.nav--open {
    transform: translateX(0);
    transition: transform .2s ease-in-out;
}

.nav__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
}

.nav__close-btn-icon:active,
.nav__close-btn-icon:hover {
    stroke: var(--highlight-red);
}

.nav__close-btn-icon {
    stroke: var(--highlight-text);
    transition: stroke .2s ease-in-out;
}

@media screen and (min-width: 1024px) {
    .nav {
        grid-area: nav;
        display: block;
        width: 250px;
    }

    .nav__close-btn {
        display: none;
    }
}